body {
    margin: 0;
    padding: 0;
}

.wrapper {
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: auto;
}

.header {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 180px;
    border: 1px solid #000;
    height: 180px;
    width: 100%;
}

.menu {
    border: 1px solid #000;
    height: 50px;
    width: 100%;
}

.list-menu {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    line-height: 27px;
    width: 55%;
}

.list-menu li {
    float: left;
    margin: 5px;
    padding: 5px;
}

.list-menu li a {
    text-decoration: none;
    text-align: center;
    color: black;
}


.list-menu li:hover {
    background: burlywood;
}

#main {
    border: 1px solid #000;
    height: auto;
    width: 100%;
}

.sidebar {
    border: 1px solid #000;
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.list-sidebar {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    line-height: 27px;
    width: 100%;
}

.list-sidebar li {
    text-decoration: none;
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.list-sidebar li a {
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
}


.list-sidebar li:hover {
    color: white;
    background: cadetblue;
}

.maincontent {
    border: 1px solid #000;
    height: auto;
    width: 78%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}

.maincontent .product-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.product-list li {
    width: 19%;
    border: 1px dashed #000;
    margin: 4px;
    float: left;
    background: #f2f2f2;
    height: 300px;
}

.product-list li a {
    text-decoration: none;
}

.product-list li img {
    width: 100%;
}

.product-list .title-product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-size: bold;
}

.product-list .title-price {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-size: bold;
}

.clear {
    clear: both;
}

.footer {
    border: 1px solid #000;
    height: 100px;
    width: 100%;
}

.footer .footer_copyright {
    text-align: center;

}